<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<!-- 开启驼峰命名规则 -->
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<!-- 配置分页插件 -->
<plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageHelper">
        <property name="dialect" value="mysql"/>
        <!-- 该参数默认为false -->
        <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
        <property name="rowBoundsWithCount" value="true"/>
    </plugin>
   
   <!-- 通用mapper -->
  <plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
    <property name="IDENTITY" value="MYSQL"/>
    <!--主键自增回写方法执行顺序,默认AFTER,可选值为(BEFORE|AFTER)-->
    <!--<property name="ORDER" value="AFTER"/>-->
    <!--通用Mapper接口，多个通用接口用逗号隔开-->
<!--     <property name="mappers" value="com.github.abel533.mapper.Mapper"/> -->
  </plugin>
    
</plugins>

</configuration>